<style>
  body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  #calculator{
    border:solid 1px rgb(59, 59, 49);
    width: 200px;
    border-radius: 7px;
    background-color:rgb(138, 154, 131);
  }
  #display{
    margin: 10px;
    width: 85%;
    font-size: 40px;
    background-color: rgb(115, 193, 32);
  }

  .buttons{
    margin: 2px;
    width: 40px;
    height: 40px;
    background-color: rgb(200, 200, 200);
  }
  .button-container{
    padding-left: 27px;
    flex-wrap: wrap;
    padding-bottom: 25px;
  }
</style>
